<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Nody js</title>
	
	<!-- Custom styles for this template -->
	<link href="resources/css/nody.css" rel="stylesheet">
	
	<!-- Bootstrap core CSS -->
	<link href="resources/css/bootstrap.min.css" rel="stylesheet">
	<link href="resources/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<!-- prism -->
	<link href="resources/css/prism.css" rel="stylesheet">
	
	<!-- Custom styles for this template -->
	<link href="resources/css/index.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->	
	<script src="resources/js/modernizr.js"></script>
	
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<header class='master-header master-header-brand'>
		<div class='container'>
			<div class='brand'>
				<a href='https://github.com/labeldock/nody'>Nody.js <small>0.23</small></a>
			</div>
		</div>
	</header>
	<header class='master-header master-header-menu'>
		<div class='container'>
			<nav>
				<menu>
					<li><a href="index.html#">Demo</a></li>
					<li><a href="api.html#" class="active" >API guide</a></li>
					<li>
						<div class='dropdown'>
							<div class='dropdown-toggle'>Before page</div>
							<div class='dropdown-content'>
								<menu>
									<a href="ie8.html">IE8 test</a>
									<a href="nftouch.html">Touch test</a>
									<a href="nfscroll.html">Scroll test</a>
									<a href="app.html">Old page</a>
								</menu>
							</div>
						</div>
					</li>
				</menu>
			</nav>
		</div>
	</header>
	<header class='master-header master-header-fork'>
		<a href="https://github.com/labeldock/nody">
			<img src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" 
			alt="Fork me on GitHub" 
			data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png">
		</a>
	</header>
	<main class='master-main'>
		<%= yield %>
	</main>
	<div class='run-modal'>
		<div class='run-dialog'>
			<div class='run-content'>
				<nav class='tabs'>
					<ul class='nav nav-pills'>
						<li><a>Code Result</a></li>
						<li><a>VIEW Code</a></li>
					</ul>
					<div class='run-modal-escape'>
						<a>esc &times;</a>
					</div>
				</nav>
				<div class='tab-contents'>
					<div class='code-set'>
						<div class='code-set-javascript'>
							<div class='code-result'>
								<label class='label label-primary'>Javascript result</label>
								<iframe class='javascript-result' src='iframe-base.html'></iframe>
							</div>
							<div class='code-origin'>
								<label class='label label-danger'>Javascript code</label>
								<iframe class='javascript-code' src='iframe-base.html'></iframe>
							</div>
						</div>
						<div class='code-set-view'>
							<label class='label label-default'>View result</label>
							<iframe class='view-result' src='iframe-base.html'></iframe>
						</div>
						<div class='code-set-html'>
							<div class='code-result'>
								<label class='label label-primary'>HTML result</label>
								<iframe class='html-result' src='iframe-base.html'></iframe>
							</div>
							<div class='code-origin'>
								<label class='label label-danger'>HTML code</label>
								<iframe class='html-code' src='iframe-base.html'></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	
	<script src="resources/js/nody.js"></script>
	<script src="resources/js/jquery-1.11.1.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>	
	<script src="resources/js/livecode.js"></script>	
	<script src="resources/js/prism.js"></script>
</body>
</html>

