/*
	sass style kit
	auther        : hojugn ahn (open9.net)
	version       : 0.8.1
	concept       : interface set, auto preload image, easy hack, easy animation
*/

@mixin text-flag(){
	&.primary{ color:#8e9fb1; }
	&.positive{ color:#87d083; }
	&.negative{ color:#d37474; }
}
/* mordern style fix */
@mixin no-appearance(){
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
	&::-ms-expand{
	  display:none;
	}
}
@mixin imaged-input($image,$width,$height,$checked-image:false){
	@include no-appearance;
	width:$width;
	height:$height;
	background-image:url($image);
	vertical-align:top;
	@if $checked-image != false {
		&:checked {
			background-image:url($checked-image);
		}
	}
}

@mixin hidden-appearance($appearance:".show"){
	&#{$appearance} { display:block; }
	&#{$appearance}.inline-block { @include inline-block; }
	&#{$appearance}.inline { display:inline; }
}
@mixin margin-padding($margin:0px,$padding:0px){
	margin:$margin;
	padding:$padding;
}
@mixin width-height($width:false,$height:false) {
	@if $width != false  { width:$width; }
	@if $height != false { height:$height; }
}
@mixin block($align:left, $width:false, $height:false){
	display:block;
	@if $align == left {
		margin-left:0;
		margin-right:auto;
	}
	@if $align == right {
		margin-left:auto;
		margin-right:0;
	}
	@if $align == center {
		margin-left:auto;
		margin-right:auto;
	}
	@include width-height($width,$height);
}
@mixin inline-block{display:inline;zoom:1;display:inline-block;}
@mixin ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	overflow: hidden;
	word-wrap:normal !important;
}
@mixin multiline {
	white-space: normal !important;
	text-overflow: clip !important;
	-o-text-overflow: clip !important;
	-ms-text-overflow: clip !important;
	overflow: visible !important;
	word-wrap:normal !important;
}
@mixin no-select() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin keepParentHeight {
	&:after {
	   content: " ";
	   display: block; 
	   height: 0; 
	   clear: both;
	}
	width:100%;
}
@mixin clearfix {
	content:" ";
	font-size:0;
	clear:both;
}
@mixin input-type-text($width:100%,$height:30px,$font-size:12px,$default-padding-width:3px) {
	@include inline-block;
	border:0;
	width:$width;
	height:$height;
	font-size:$font-size;
	line-height:$font-size;
	padding:(($height - $font-size) / 2) $default-padding-width;
	margin:0;
}

/* custom style */
@mixin button($width,$height,$display:''){
	@include no-select;
	@if $display == '' {
		@include inline-block;
	} @else {
		display:$display;
	}
	@if $width {
		width:$width;
	}
	@if $height {
		height:$height;
		line-height:$height;
	}
	padding-top:0;
	padding-bottom:0;
	cursor:pointer;
	border:0px solid white;
	text-align:center;
	&:hover{ text-decoration:none; };
}
@mixin menu-style($menu-text-align:center,$menu-item-align:false,$menu-width:false,$menu-height:false) {
	@include no-select;
	@include inline-block;
	text-align:$menu-text-align;
	margin-left:0px;
	margin-top:0px;
	padding:0px;
	margin:0px;	
	> a, > a:hover { 
		@if $menu-item-align == block {
			@include block($menu-text-align);
		} @else {
			@include inline-block;
		}
		@include width-height($menu-width,$menu-height);
		text-decoration:inherit;cursor:pointer; 
		>li { list-style:none; } 
	}
	> li {
		@if $menu-item-align == inline-block {
			@include inline-block;
		} @elseif $menu-item-align == inline {
			@include inline-block;
		} @else {
			@include block($menu-text-align);
		}
		@include width-height($menu-width,$menu-height);
		list-style:none; cursor:pointer; 
		> a, > a:hover{ color:inherit;text-decoration:inherit; }
	}
}

@mixin cell-padding($p:0,$fp:0,$lp:0){
	td,th{
		padding:$p;
	}
	@if $fp != 0 {
		td:first-child,th:first-child{
			padding-left:$fp;
		}
	}
	@if $lp != 0 {
		td:last-child,th:last-child{
			padding-left:$fp;
		}
	}
}
@mixin grid-table($vertical:middle,$spacing:0px,$cell-padding:'') {
	table-layout:fixed;
	width:100%;
	@if $spacing > 0px {
		border-spacing:$spacing;
		border-collapse:separate;
	} @else {
		border-spacing:0px;
		border-collapse:collapse;
	}
	td,th {
		@if $cell-padding != '' {  padding:$cell-padding; }
		vertical-align:$vertical;
		border:none;
		input { margin:0px; }
	}
}


/* image load and preload module */
@mixin preload($key:'background',$url:'undefined',$after:'',$color:''){
	$url-text:url("#{$url}");
	$preload-images:#{$preload-images}(#{$url-text+' '})!global;
	#{$key}:#{$color} #{$url-text} #{$after};
}
@mixin image-preload($view:none){ body:before{ content:#{$preload-images}; display:$view; }; $preload-images:''!global; }
@mixin background ($url:'undefined',$after:'',$color:''){ @include preload('background',$url,$after,$color); }
@mixin assets($url:'undefined',$after:'no-repeat',$color:''){ @include preload('background',($base-assets-path + $url),$after,$color); }
@mixin content($url:'undefined'){ @include preload('content',($base-assets-path + $url)); }
/* animation */
@mixin transition ($sec:0.3s,$range:all){
	transition:$range $sec ease-in-out;
}


/* paragraph */

//filter
@mixin filter($value:none) { -webkit-filter: $value;filter: $value; }
// 뿌옅게 0 ~ *
@mixin filter-blur($px){ -webkit-filter: blur($px);filter: blur($px); }
//밝기 0 ~ 10
@mixin filter-brightness($float){ -webkit-filter: brightness($float);filter: brightness($float); }
//생기 0 ~ 10
@mixin filter-saturate($float){	-webkit-filter: saturate($float);filter: saturate($float); }
//음영 0 ~ 1
@mixin filter-grayscale($float){ -webkit-filter: grayscale($float);filter: grayscale($float); }
//날카롭게 0 ~ 10
@mixin filter-contrast($float){ -webkit-filter: contrast($float);filter: contrast($float); }
//투명도 0 ~ 360
@mixin filter-hue-rotate($float){ -webkit-filter: hue-rotate($float);filter: hue-rotate($float); }
//고전적 0 ~ 1
@mixin filter-sepia($float){ -webkit-filter: sepia($float);filter: sepia($float); }
//반전 0 ~ 1
@mixin filter-invert($float){ -webkit-filter: invert($float);filter: invert($float); }

// Single side border-radius
@mixin border-radius-top($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-radius-right($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-radius-bottom($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-radius-left($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

/* layout set */

@mixin baseline-group($group-height:30px,$child-tag:'>*'){
	display:table;
    width: 100%;
	border-collapse: separate;
    table-layout: fixed;
	height:$group-height;
	#{$child-tag} {
		@include no-select;
		position:relative;
		float:none;
		display:table-cell;
		width:100%;
		height:$group-height;
		line-height:$group-height;
	}
}

@mixin common-layout-setting($child:'undefined') {
	position:relative;
	width:100%;
	//overflow:hidden;
	&:after { content:"";display:table;clear:both; }
	@if $child == 'expend' {
		&-center{ 
			@include inline-block;margin-left:auto !important;margin-right:auto !important;text-align:center; 
			>* { vertical-align:middle; }
		}
		&-left   {
			@include inline-block;float:left;
			>* { vertical-align:middle; }
		}
		&-right  { 
			@include inline-block;float:right;
			>* { vertical-align:middle; }
		}
		&-top    { &-left, &-right { vertical-align:top; } }
		&-middle { &-left, &-right { vertical-align:middle; } }
		&-bottom { &-left, &-right { vertical-align:bottom; } }
	}
}


@mixin paragraphPart($model,$headname,$headHeight){
	.#{$model}-#{$headname} {
		* { margin-bottom:0; }
		position:relative;
		@if($headHeight!=''){ height:#{$headHeight};line-height:#{$headHeight};}
		.#{$model}-#{$headname}-title,.#{$model}-#{$headname}-left{
			float:left;
			@if($headHeight!=''){ height:#{$headHeight};line-height:#{$headHeight};}
			i {margin-right:3px;img {vertical-align:baseline;}}
			
		}
		.#{$model}-#{$headname}-commands,.#{$model}-#{$headname}-right{
			@include no-select;
			float:right;
			@if($headHeight!=''){ height:#{$headHeight};line-height:#{$headHeight};}
			>*  { @include inline-block; position:relative; }
			p   { cursor:default; margin:0; }
			li,a{ cursor:pointer; text-decoration:none; }
			i   {margin-right:3px;img {vertical-align:baseline;}}
		}
		@include keepParentHeight;
	}
}
@mixin paragraphModel($model,$sel,$headHeight:'',$footHeight:'') {
	#{$sel} {
		@each $headname in 'header','heading' { @include paragraphPart($model,$headname,$headHeight); }
		@each $footname in 'foot','footer'    { @include paragraphPart($model,$footname,$footHeight); }
		.#{$model}-body { position:relative; }
	}
}

