@charset "UTF-8";
@import 'nody-kit';


header#navigation {
	
}

#header {
	position:absolute;
	left:0;
	top:0;
}
#main {
	padding-left:120px;
	padding-right:20px;
	
	xmp {
		font-size:10px;
	}
}
.appear-ready{
	position:relative;
	transition:all 0.4s;
	opacity:0;
	@include translateY(20px);
}
.appear-submit {
	opacity:1;
	@include translateY(0px);
}

#green-box,#yellow-box,#red-box {
	height:100px;
	line-height:100px;
	text-align:center;
	border:1px solid #eee;
	cursor:pointer;
	@include transition(color,0.3s);
	
}
#green-box:hover{ background-color: green; };
#yellow-box:hover{ background-color: yellow; };
#red-box:hover{ background-color: red; };
#green-box,#red-box{
	&:hover {
		color:white;
	};
}

.gage-box {
	margin:0 auto;
	width:328px;
	height:160px;
	overflow:hidden;
	position:relative;
	.gage-box-line-container {
		position:absolute;
		top:0;
		left:0;
		width:328px;
		height:328px;
		text-align:center;
		.gage-line {
			margin-top:17px;
		}
	}
	&.gage-box-css{
		.gage-box-line-container{
			display: block;
			@include transition(all,1.5s,cubic-bezier(1.000, -0.530, 0.405, 1.425));
			@include transform(rotate(-100deg));
		}
	}
}
#scroll-box, #calendar-box {
	white-space:nowrap;
	font-size:30px;
	border:1px dotted #ddd;
	height:400px;
	width:400px;
}
div.calendar {
	padding:10px 0px;
}
table.calendar {
	width:100%;
	table-layout:fixed;
	font-size:16px;
	text-align:center;
	margin:5px 0;
	thead{
		td {
			background:#eee;
		}
	}
	td{
		border:1px solid #eee;
		&.before,&.after {
			color:#ccc;
		}
	}
}
.border-box {
    border:1px solid #eee;
}

.inline-box {
  display:inline-block;
  vertical-align:top;
  border:1px solid;
  width:120px;
  height:120px;
  margin-left:10px;
  input {
	  background:rgba(255,255,255,.7);
  }
  &.green {
	  background:#d9f2e4;
  }
  &.blue {
  	background:#d9e9f2;
  }
  &.small-box{
	  width:50px;
	  height:50px;
  }
}

.overflow-box {
	border:1px solid blue;
	overflow:hidden;
	min-height:500px;
}
#view-display {
	margin-top:10px;
	border:1px solid #ddd;
	min-height:200px;
}
.side-bar-container{
	position:relative;
	padding-right:20px;
	
	transition:padding 0.4s;
	
	.right-side-bar{
		position:absolute;
		right:-200px;
		top:0;
		width:200px;
		padding-left:0px;
		border-left:1px solid #ddd;
		opacity:0;
		transition:all 0.4s;
	}
	&.side-bar-active {
		padding-right:220px;
		.right-side-bar{
			right:0;
			padding-left:20px;
			opacity:1;
		}
	}
}
code {
	text-align:left;
}

.thumbnail{
	h3,p {
		@include ellipsis;
	}
}

.active > .thumbnail{
	background:#73a4e5;
	h3,p {
		color:white;
		
	}
}

.page-header {
	small {
		font-size:40%;
	}
}
#canvas-background {
	@include cellbase-table-veriant;
	table {
		td {
			width:100px;
			height:100px;
			background-color:#eee;
			text-align:center;
		}
	}
}

.data-example {
	border:1px solid gray;
}