/* include Nody SASS Kit : version 2.5 Build */
/*
* Globals
*/
html, body {
  min-height: 100%; }

body {
  color: #555; }

/*
* Masthead for nav
*/
header.master-header {
  color: #cdddeb;
  z-index: 30; }
  header.master-header.master-header-brand {
    width: 100%;
    top: 0;
    font-weight: 600;
    font-size: 18px;
    background-color: #428bca; }
    header.master-header.master-header-brand .brand {
      padding: 10px 10px 0px 10px; }
      header.master-header.master-header-brand .brand small {
        opacity: 0.7;
        filter: alpha(opacity=70); }
  header.master-header.master-header-menu {
    background-color: #428bca;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0px;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1); }
    header.master-header.master-header-menu nav menu > li {
      position: relative;
      display: inline-block;
      padding: 10px;
      font-weight: 500; }
      header.master-header.master-header-menu nav menu > li .dropdown {
        display: inline;
        zoom: 1;
        display: inline-block; }
        header.master-header.master-header-menu nav menu > li .dropdown .dropdown-toggle {
          display: inline;
          zoom: 1;
          display: inline-block; }
        header.master-header.master-header-menu nav menu > li .dropdown .dropdown-content {
          -webkit-box-shadow: 1px 1px 3px #000;
          -moz-box-shadow: 1px 1px 3px #000;
          -ms-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
          background: blue;
          border: 5px solid white;
          z-index: 10;
          width: 130px;
          text-align: left;
          padding: 10px; }
          header.master-header.master-header-menu nav menu > li .dropdown .dropdown-content menu a:before {
            content: '- '; }
      header.master-header.master-header-menu nav menu > li:hover, header.master-header.master-header-menu nav menu > li:focus {
        color: #fff;
        text-decoration: none; }
        header.master-header.master-header-menu nav menu > li:hover:after, header.master-header.master-header-menu nav menu > li:focus:after {
          opacity: 0.5;
          filter: alpha(opacity=50);
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -5px;
          vertical-align: middle;
          content: " ";
          border-right: 5px solid transparent;
          border-bottom: 5px solid;
          border-left: 5px solid transparent; }
      header.master-header.master-header-menu nav menu > li:active, header.master-header.master-header-menu nav menu > li.active {
        color: #fff; }
        header.master-header.master-header-menu nav menu > li:active:after, header.master-header.master-header-menu nav menu > li.active:after {
          opacity: 1;
          filter: alpha(opacity=100);
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -5px;
          vertical-align: middle;
          content: " ";
          border-right: 5px solid transparent;
          border-bottom: 5px solid;
          border-left: 5px solid transparent; }
  header.master-header.master-header-fork {
    position: fixed;
    right: 0;
    top: 0; }

main.master-main > .container > .row section > article header {
  font-size: 25px; }
main.master-main > .container > .row aside {
  position: fixed;
  top: 130px;
  left: auto;
  right: 40px; }
  main.master-main > .container > .row aside .box-module {
    padding: 15px;
    margin: 0 -15px 15px;
    background-color: #f5f5f5; }
    main.master-main > .container > .row aside .box-module menu li {
      text-align: left; }

.run-modal {
  display: block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
  .run-modal .run-dialog {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out; }
  .run-modal.run-modal-show {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible; }
    .run-modal.run-modal-show .run-dialog {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1); }
  .run-modal .run-dialog {
    position: relative;
    border: 3px solid #cdddeb;
    background-color: white;
    width: 96%;
    height: 94%;
    left: 2%;
    top: 3%; }
  .run-modal nav.tabs {
    position: relative; }
    .run-modal nav.tabs .run-modal-escape {
      position: absolute;
      right: 20px;
      top: 20px; }
  .run-modal .tab-contents .code-set > div {
    float: left; }
  .run-modal .tab-contents .code-set .code-set-html {
    width: 100%; }
  .run-modal .tab-contents .code-set .code-set-javascript {
    width: 50%; }
  .run-modal .tab-contents .code-set .code-set-view {
    width: 50%; }
  .run-modal .tab-contents .code-set .code-result {
    display: block; }
  .run-modal .tab-contents .code-set .code-origin {
    display: none; }
  .run-modal .tab-contents .code-set.code-set-origin .code-result {
    display: none; }
  .run-modal .tab-contents .code-set.code-set-origin .code-origin {
    display: block; }
  .run-modal .tab-contents label {
    display: block;
    margin-top: 20px; }
  .run-modal .tab-contents iframe {
    width: 100%;
    height: 250px; }
