@charset "UTF-8";
/* include Nody SASS Kit : version 2.5.2 Build */
/*
	Nody modernize support kit
	auther        : hojugn ahn (https://github.com/labeldock/Nody_SASS)
	version       : 2.7
*/
/* mordernizer */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-smooth: always; margin: 0px; padding: 0px; }

h1, h2, h3, h4, h5, h6, p { margin: 0px; font-size: inherit; }

img { border: none; }

a, button { cursor: pointer; text-decoration: inherit; color: inherit; }
a:hover, button:hover { text-decoration: inherit; color: inherit; }

[disabled], a [disabled], button [disabled], input [disabled] { cursor: not-allowed; pointer-events: none; -webkit-box-shadow: none; box-shadow: none; }

*:focus { outline: none !important; }

/***************************** HTML5fix */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, command, fieldset { display: block; }

audio, canvas, progress, video { display: inline; zoom: 1; display: inline-block; }

template, .hidden, .template, [hidden] { display: none; }

tt, code, kbd, samp, var, em, s, b, strong, cite, dfn, i, time, mark, address { display: inline; font-family: inherit; font-style: inherit; text-decoration: inherit; font-weight: inherit; padding: 0; margin: 0; }

tt, code, kbd, samp { font-family: inherit; }

label { cursor: inherit; }

input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

/* baseline */
.baseline { display: table; width: 100%; border-collapse: separate; table-layout: fixed; height: auto; }
.baseline div, .baseline th, .baseline td { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; position: relative; float: none; display: table-cell; width: 100%; height: auto; line-height: auto; }

/***************************** menu style */
menu, ul.menu { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline; zoom: 1; display: inline-block; margin-left: 0px; margin-top: 0px; padding: 0px; margin: 0px; }
menu > a, menu > a:hover, ul.menu > a, ul.menu > a:hover { text-align: center; display: inline; zoom: 1; display: inline-block; text-decoration: none; cursor: pointer; }
menu > a > li, menu > a:hover > li, ul.menu > a > li, ul.menu > a:hover > li { list-style: none; }
menu > li, ul.menu > li { text-align: center; display: block; margin-left: auto; margin-right: auto; list-style: none; cursor: pointer; }
menu > li > a, menu > li > a:hover, ul.menu > li > a, ul.menu > li > a:hover { color: inherit; text-decoration: inherit; }

.block-menu { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline; zoom: 1; display: inline-block; margin-left: 0px; margin-top: 0px; padding: 0px; margin: 0px; }
.block-menu > a, .block-menu > a:hover { text-align: left; display: block; margin-left: 0; margin-right: auto; text-decoration: none; cursor: pointer; }
.block-menu > a > li, .block-menu > a:hover > li { list-style: none; }
.block-menu > li { text-align: left; display: block; margin-left: 0; margin-right: auto; list-style: none; cursor: pointer; }
.block-menu > li > a, .block-menu > li > a:hover { color: inherit; text-decoration: inherit; }

.inline-menu { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline; zoom: 1; display: inline-block; margin-left: 0px; margin-top: 0px; padding: 0px; margin: 0px; }
.inline-menu > a, .inline-menu > a:hover { text-align: left; display: inline; zoom: 1; display: inline-block; text-decoration: none; cursor: pointer; }
.inline-menu > a > li, .inline-menu > a:hover > li { list-style: none; }
.inline-menu > li { text-align: left; display: inline; zoom: 1; display: inline-block; list-style: none; cursor: pointer; }
.inline-menu > li > a, .inline-menu > li > a:hover { color: inherit; text-decoration: inherit; }

/***************************** - frame은 공간이다. - layer는 계층이다.
*/
.frame, .layer { position: relative; }

.frame { overflow: hidden; }

.frame-scroll { overflow: auto; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }

.layer-under { display: block; position: relative; }

.layer-over { position: absolute; top: 0px; left: 0; width: 100%; height: 100%; }

/***************************** - table - toolbar - bar - caption
*/
fieldset, .layout { position: relative; width: 100%; width: 100%; height: auto; }
fieldset:after, .layout:after { content: " "; display: table; height: 0; clear: both; }
fieldset fieldset, fieldset .layout-center, .layout fieldset, .layout .layout-center { display: inline; zoom: 1; display: inline-block; margin-left: auto !important; margin-right: auto !important; text-align: center; }
fieldset fieldset > *, fieldset .layout-center > *, .layout fieldset > *, .layout .layout-center > * { vertical-align: middle; }
fieldset fieldset, fieldset .layout-left, .layout fieldset, .layout .layout-left { display: inline; zoom: 1; display: inline-block; float: left; }
fieldset fieldset > *, fieldset .layout-left > *, .layout fieldset > *, .layout .layout-left > * { vertical-align: middle; }
fieldset fieldset, fieldset .layout-right, .layout fieldset, .layout .layout-right { display: inline; zoom: 1; display: inline-block; float: right; position: relative; }
fieldset fieldset > *, fieldset .layout-right > *, .layout fieldset > *, .layout .layout-right > * { vertical-align: middle; }

.cell-layout { position: relative; width: 100%; }
.cell-layout .cell-left { position: absolute; top: 0px; left: 0px; height: false; }
.cell-layout .cell-right { position: absolute; top: 0px; right: 0px; height: false; }

/******************* - fast layout set
*/
.inset-xxs { padding: 1px; }
.inset-xxs-vertical { padding-left: 1px; padding-right: 1px; }
.inset-xs { padding: 3px; }
.inset-xs-vertical { padding-left: 3px; padding-right: 3px; }
.inset-sm { padding: 5px; }
.inset-sm-vertical { padding-left: 5px; padding-right: 5px; }
.inset-md { padding: 10px; }
.inset-md-vertical { padding-left: 10px; padding-right: 10px; }
.inset { padding: 10px; }
.inset-vertical { padding-left: 10px; padding-right: 10px; }
.inset-lg { padding: 15px; }
.inset-lg-vertical { padding-left: 15px; padding-right: 15px; }
.inset-xl { padding: 20px; }
.inset-xl-vertical { padding-left: 20px; padding-right: 20px; }
.inset-xxl { padding: 30px; }
.inset-xxl-vertical { padding-left: 30px; padding-right: 30px; }

.outset-xxs { margin: 1px; }
.outset-xxs-vertical { margin-left: 1px; margin-right: 1px; }
.outset-xs { margin: 3px; }
.outset-xs-vertical { margin-left: 3px; margin-right: 3px; }
.outset-sm { margin: 5px; }
.outset-sm-vertical { margin-left: 5px; margin-right: 5px; }
.outset-md { margin: 10px; }
.outset-md-vertical { margin-left: 10px; margin-right: 10px; }
.outset { margin: 10px; }
.outset-vertical { margin-left: 10px; margin-right: 10px; }
.outset-lg { margin: 15px; }
.outset-lg-vertical { margin-left: 15px; margin-right: 15px; }
.outset-xl { margin: 20px; }
.outset-xl-vertical { margin-left: 20px; margin-right: 20px; }
.outset-xxl { margin: 30px; }
.outset-xxl-vertical { margin-left: 30px; margin-right: 30px; }

/******** full   */
.full-width { width: 100%; }
.full-height { height: 100%; }

/******** table */
table.grid { display: table; width: 100%; table-layout: fixed; border-spacing: 0px; border-collapse: collapse; }

table.cellbase { display: table; table-layout: auto; border-spacing: 0px; border-collapse: collapse; }

.table-fixed { table-layout: fixed; }

/*****************************
no block*/
.no-style { list-style: none !important; text-decoration: none !important; }

ul.no-style { list-style: none !important; text-decoration: none !important; }

ol.no-style { list-style: none !important; text-decoration: none !important; }

.no-select { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.no-decoration { text-decoration: none !important; }

.no-background { background-image: none !important; }

/***************************** 인터페이스 - 스타일러 */
.ellipsis, .ellipsis-all * { white-space: nowrap; word-wrap: normal; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; overflow: hidden; }

span.ellipsis { display: inline; zoom: 1; display: inline-block; margin: 0px; padding: 0px; width: 100%; }

.multiline { white-space: normal !important; text-overflow: clip !important; -o-text-overflow: clip !important; -ms-text-overflow: clip !important; overflow: visible; word-wrap: normal !important; }

.pointer, .pointer-each > * { cursor: pointer; }

.pointer-underline:hover, .pointer-underline-each > *:hover { text-decoration: underline; }

/***************************** Nody js */
.dropdown { position: relative; }
.dropdown > .dropdown-content { display: none; position: absolute; }

.dropdown.dropdown-show > .dropdown-content { display: block; }

.nody-scroll-track { background-color: #666; min-height: 40px; min-width: 5px; }
.nody-scroll-track .nody-scroll-handle { cursor: -webkit-grab; cursor: -moz-grab; background-color: #ccc; min-height: 10px; min-width: 5px; }
.nody-scroll-track .nody-scroll-handle:active { cursor: -webkit-grabbing; cursor: -moz-grabbing; }
